.videoPlayer {
  margin: 10px 15vw;
}

.channelName {
  font-size: 25px;
}

.title {
  font-size: 20px;
}

.description {
  font-size: 21px;
}

.avatar {
  margin-top: 15px;
}

.viewCount {
  margin-top: 15px;
  font-size: 20px;
}